# Lambda Functions - Lab

## Introduction|

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

# Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [8]:
df['stars_squared'] = df['stars'].map(lambda x: x**2)
df['stars_squared'].head()

SyntaxError: invalid syntax (<ipython-input-8-ad2f482d2cc0>, line 2)

# Dates
Select the month from the date string using a lambda function.

In [11]:
df.date.map(lambda x: x[5:7]).head()

0    11
1    10
2    09
3    02
4    06
Name: date, dtype: object

# What is the average number of words for a yelp review?
Do this with a single line of code!

In [13]:
df.text.map(lambda x: len(x)).mean()

417.911877394636

# Create a new column for the number of words in the review.

In [19]:
df['word_number'] = df.text.map(lambda x: len(x));
df.word_number.head(50)

0     317
1     156
2     165
3     467
4     185
5     280
6     117
7     403
8     644
9     574
10    110
11    139
12     84
13     93
14    137
15    199
16    176
17    286
18    142
19    244
20    468
21    695
22    166
23    184
24    176
25    663
26    291
27    217
28    413
29    382
30    314
31    262
32    917
33    267
34    660
35    309
36    131
37     95
38    105
39    227
40    129
41    331
42    554
43    256
44    302
45    134
46    477
47    406
48     91
49    109
Name: word_number, dtype: int64

## Rewrite the following as a lamda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [22]:
df['Review_Length'] = df.word_number.map(lambda x: 'Long' if x>= 80 else ('Short' if x < 50 else 'Medium'))

# Level Up: Dates Adavanced!
<img src="date_format_map.png" width=500>  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [25]:
df.date.map(lambda x: x[8:10] + '-' + x[5:7] + '-'+ x[:4]).head()

0    13-11-2012
1    23-10-2014
2    05-09-2014
3    25-02-2011
4    15-06-2016
Name: date, dtype: object

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone elses code that happens to use lambdas.